<div *ngIf="dataStatus == DATA_STATUS.LOADED" class="h80">
  <app-highchart class="bottm-chart" style="margin-top:-10px"
    [chartOptions]="hcConfig.toPlainObject()"
  >

  </app-highchart>
</div>
<ng-template [ngIf]="dataStatus == DATA_STATUS.LOADING">
  <ics-loader></ics-loader>
</ng-template>

<div *ngIf='dataStatus == DATA_STATUS.DATA_ERROR'>
  <app-data-error></app-data-error>
</div>
