<!--########### GENERATED AT 2018-05-24 10:29:23.809###########-->
<div *ngIf="dataStatus == DATA_STATUS.LOADED" >
  <app-highchart class="top-charts hf-block-s"
    [chartOptions]="hcConfig.toPlainObject()"
  >

  </app-highchart>

</div>

<ng-template [ngIf]="dataStatus == DATA_STATUS.LOADING">

  <ics-loader></ics-loader>

</ng-template>

<div *ngIf='dataStatus == DATA_STATUS.DATA_ERROR'>
  <app-data-error></app-data-error>
</div>
