<div class="row no-gutters " *ngIf="dataStatus == DATA_STATUS.LOADED">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="row no-gutters">
			<div class="col-md-6 col-sm-6 col-xs-6  ">
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3  pull-right">
				<p class="index_head text-center">
					<strong>
						SSI
					</strong>
				</p>
			</div>

		</div>
	</div>
	<div *ngFor="let datafactor of data.data" class="col-md-12 col-sm-12 col-xs-12">
		<div class="row srd hf-gutters dt-h40" *ngIf="datafactor.month">
			<div class="col-md-6 col-sm-6 col-xs-6  ">
				<p class="t-uppercase">
					{{datafactor.month}}
				</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 small__text">
				<app-round-progress [value]="datafactor.score"></app-round-progress>
			</div>
		</div>
	</div>
</div>



<ng-template [ngIf]="dataStatus == DATA_STATUS.LOADING">

	<ics-loader></ics-loader>

</ng-template>

<div *ngIf="dataStatus == DATA_STATUS.DATA_ERROR">
	<app-data-error></app-data-error>
</div>
