<!--########### GENERATED AT 2018-06-15 12:31:51.826###########-->
<div *ngIf="dataStatus == DATA_STATUS.LOADED" class="h80">
  <div id="{{SLUG_NAME}}"></div>
  <app-highchart class="top-charts hf-block-s"
    [chartOptions]="hcConfig.toPlainObject()"
  >

  </app-highchart>
</div>
<ng-template [ngIf]="dataStatus == DATA_STATUS.LOADING">

  <ics-loader></ics-loader>

</ng-template>

<div *ngIf='dataStatus == DATA_STATUS.DATA_ERROR'>
  <app-data-error></app-data-error>
</div>
