<!--
  ########### GENERATED AT 2018-06-15 12:31:51.918###########

  <div class="contentSecHeight">
    <div class="row rowhgtContainer  hf-gutters">
        <div class="col-md-3 col-xl-3 col-sm-12 col-xs-12 contentCard height50Sec">
            <mat-card class="innerCard per40H">
                <mat-card-title>Dealer Group SSI Score</mat-card-title>
                <mat-card-content>
                    <dealergroup-national-score [filter]="filterChangedInfo"></dealergroup-national-score>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3 col-xl-3 col-sm-12 col-xs-12 contentCard height50Sec">
            <mat-card class="innerCard per40H">
                <mat-card-title>{{scopeTitle}}-{{measureTitle}}</mat-card-title>
                <mat-card-content>
                    <dealergroup-regional-score [filter]="filterChangedInfo"></dealergroup-regional-score>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-6 col-xl-6 col-sm-12 col-xs-12 contentCard height50Sec">
            <mat-card class="innerCard per40H">
                <mat-card-title>Factor Scores</mat-card-title>
                <mat-card-content>
                    <dealergroup-factor-score [filter]="filterChangedInfo"></dealergroup-factor-score>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row rowhgtContainer  hf-gutters">
        <div class="col-md-6 col-xl-6 col-sm-12 col-xs-12 contentCard botPad0 height50Sec">
            <mat-card class="innerCard 60perH">
                <mat-card-title>TOP 5 -Bottom 5 Dealer Ranking</mat-card-title>
                <mat-card-content>
                    <dealergroup-dealer-ranking-score [filter]="filterChangedInfo"></dealergroup-dealer-ranking-score>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-md-6 col-xl-6 col-sm-12 col-xs-12 contentCard botPad0 height50Sec">
            <mat-card class="innerCard 60perH">
                <mat-tab-group class="mat__tab__custom">
                    <mat-tab label="Page 1">
                        <ng-template matTabContent>
                            <mat-card>
                                <mat-card-title> {{ 'SUMMARY.TOP5KPI' | translate }}</mat-card-title>
                                <mat-card-content>
                                 <dealergroup-kpi-score [filter]="filterChangedInfo"></dealergroup-kpi-score>
                              </mat-card-content>
                            </mat-card>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Page 2">
                        <ng-template matTabContent>
                            <mat-card>
                                <mat-card-title>{{'SUMMARY.TOP5ATTRIBUTES' |translate}}</mat-card-title>
                                <mat-card-content>
                                    <dealergroup-attribute-score [filter]="filterChangedInfo"></dealergroup-attribute-score>
                                </mat-card-content>
                            </mat-card>
                        </ng-template>
                    </mat-tab>

                </mat-tab-group>
            </mat-card>
        </div>
    </div>
  </div>
-->
